{% extends "Core/base.html" %}
{% load crispy_forms_tags %}
{% block title %} Profile {% endblock %}
{% block body_block %}
{% load static %}
<div class="container">
    <div class="jumbotron">
   
      <h1>{{ user.username }}'s Profile</h1>
      <h2>Nickname: </h2>
      <h2>Name: </h2>
      <h2>Interests: </h2>
      {% for interest in interests %}
        {{ interest }}
        <br></br>
      {% endfor %}
      <h2>Text: </h2>
      <h2>Pfp - </h2>

     
          <img src="{{ icon.icon_image.url }}"  width="250" height="250"/>
          
     
      <a class = "btn btn-primary" href="{% url 'accounts:image_upload' %}">Update Profile</a>

    </div>
  </div>

{% endblock %}